{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav') }}>
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'nav-item',
          item.below ? 'dropdown',
          item.is_expanded ? 'nav-item--expanded',
          item.is_collapsed ? 'nav-item--collapsed',
          item.in_active_trail ? 'nav-item--active-trail',
        ]
      %}
      {%
        set link_classes = [
          'nav-link',
          'btn', 'btn-outline-primary', 'position-relative',  // Add Bootstrap button classes
          item.in_active_trail ? 'active',
          item.below ? 'dropdown-toggle',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.below %}
          {{ link(item.title, item.url, { 'class': link_classes, 'data-toggle' : 'dropdown', 'title': ('Expand menu' | t) ~ ' ' ~ item.title }) }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {{ link(item.title, item.url, item.attributes.removeClass(classes).addClass(link_classes)) }}
        {% endif %}
    {% else %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
